.title {
		position: relative;
		margin-bottom: 39px;
		line-height: 0.8;
		padding-bottom: 10px;
		font-weight: 300;
		text-transform: uppercase;

		&::after {
		content: '';
		width: 45px;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
        background-color: $white;
 }
}

.color {
	color: $white;
}

.color-2 {
	color: #515f67;
}

.bg {
	background-color: $light-blue;
}

.padding {
	padding: 80px 0;
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}


.intro {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	// color: $white;
	filter: grayscale(100%);
	object-fit: contain;

		
}

.text-block {
	padding-top: 200px;
	padding-bottom: 130px;

	@include media ('>=desktop') {
		padding-top: 400px;
		padding-bottom: 260px;
	}
	
		h1 {
			font: 30px/1.8 SegoeUI, sans-serif;
  			text-transform: uppercase;
  			margin-bottom: 1rem;
			text-align: center;
			font-weight: 300px;

			@include media ('>=tablet') {
				font: 42px/2 SegoeUI, sans-serif;
		}
	}

		h1 span {
			box-decoration-break: clone;
			background: rgba(0,0,0, 0.5);
  			color: white; 
			padding: 5px;

			@include media ('>=tablet') {
				padding: 10px;
	}
		}
}

.services {
 
	.row {
	@include media ('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -40px 0 0;
	}
}
	.col {

		@include media ('>=tablet') {
		width: 50%;
		padding: 0 40px 0 0;	
		}

		@include media ('>=desktop') {
		width: 25%;
		}

		img {
		margin-bottom: 24px;
		object-fit: contain;
		}

		p {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.5;
		}
	}		
}


.portfolio {

	.title {
		margin-bottom: 0;

		&:after {
		background-color: rgba(81, 95, 103, 0.9);
	}
}
	.row {
		margin: 0 -15px;

		@include media ('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.col {
		padding: 0 15px 26px;

		@include media ('>=tablet') {
			width: 50%;
			padding: 10px;
		}

		@include media ('>=desktop') {
			width: 25%;
			padding: 15px;
		}

	.card {
		position: relative;

		img {
		display: block;
		width: 100%;
		object-fit: contain;
		opacity: 0.8;
		filter: grayscale(100%);
		}

		.hover-box {
			background-color: rgba(0,0,0,.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			opacity: 0;
			transition: opasity .3s linear;

			&:hover {
				opacity: 1;
			}
		}

		.plus {
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: $white;
			transform: translate(-50%, -50%);
		}
			&:before {
				width: 30px;
				height: 3px;
			}

			&:after {
				width: 3px;
				height: 30px;
			}
		}
	}
	}	
}	

// .block {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	margin-bottom: 80px;
// }

// .list {
// 	display: flex;
// 	padding: 0;
// 	margin: 0 0 0 -20px;
// 	text-transform: uppercase;

// 	li {
// 		list-style: none;
// 		margin: 0 0 0 20px
// 	}

// 	.active a {
// 		color: $light-blue;
// 		border: 2px solid $light-blue;
// 	}

// 	a {
// 		color: rgba(81, 95, 103, 0.9);
// 		text-decoration: none;
// 		opacity: 0.9;
// 		transition: color .3s linear, border-color .3s linear;
// 		border: 2px solid transparent;
// 		padding: 10px 18px;

// 		&:hover {
// 			color: $light-blue;
// 			border-color: $light-blue;
// 		}
// 	}
// } 

// @include media ('<tablet') {
// 	.burger {
// 		display: block;
// 		position: relative;
// 		width: 30px;
// 		height: 20px;

// 		&:before,
// 		&:after {
// 			content: 'â†';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 		}
// 	}

// 	.menu {
//         position: absolute;
//         left: -15px;
//         height: 100vh;
//         background: linear-gradient(to bottom, #510077 0%,#6c2c89 20%,#6c2c89 20%,#3b005b 76%,#1c0128 100%);
//         padding: 30px 10px 10px 10px;
//         transition: all .3s linear;
//         overflow: auto;
//         top: 100%;
//         right: -15px;
//         opacity: 0;
//     }
//     .menu.active {
//         opacity: 1;
//     }
    
//     .list {
//         display: block;
//         padding: 0;
//         margin: 0;
        
//         li {
//           margin: 0 0 20px 0;  
//         }
//      }    
// }

.video-section {
	background-color: rgba(81, 95, 103, 10);
	position: relative;
}

.row {
	@include media ('>=tablet') {
		display: flex;
		margin: 0 -40px 0 0;
	}
}

.col {
	@include media ('>=tablet') {
		width: 50%;
		padding: 0 40px 0 0;
	}
}

.responsive-embed {
	position: relative;
	margin-top: 30px;

	&::before {
		content: '';
		display: block;
		padding-top: 56.25%;
	}
}

.embed-item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


.twitter {

	p {
		font-size: 28px;
		line-height: 1.79;
	}

	a {
		text-decoration: none;
		color: $white;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
	}

	.title {
		margin-bottom: 0;
} 	

	.twit {
		font-size: 30px;
  		font-family: FontAwesome;
  		line-height: 0.8;

  	  	&:hover {
  		text-decoration: none;
  		color: #e8f8ff;
  	}
}
}

.icon {
	display: flex;
	justify-content: space-between;
	padding-bottom: 39px;
}





.information {
	padding: 100px 0 173px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	object-fit: contain;

	p {
		padding-bottom: 15px;
	}

	.row {
		@include media ('>=tablet') {
			display: flex;
			flex-wrap: wrap;
	}

	.col {
		@include media ('>=tablet') {
			 width: 50%;
		}
	}
}
}
.social-networks {
		cursor: pointer;
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;

		a {
			color: $white;
			border: 2px solid $white;
			padding: 15px 18px 14px;
			font-size: 30px;
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transform: color .3s linear, border-color .3s linear;
			text-decoration: none;

			&:hover {
				color: #ade7ff;
				border-color: #ade7ff;
			}
		}

		li {
			margin: 0 20px 0 0;
		}
	}


.testimonials {
	
	.title {
		margin-bottom: 0;

		&:after {
			background-color: #515f67;
		}
	}
	
	p {
		font-size: 28px;
		line-height: 1.79;
	}

	a {
		color: #4bcaff;
		font-weight: bold;
	}
}
	
.box {
	display: flex;
	justify-content: space-between;
	padding-bottom: 39px;
}
	.quotes {
		line-height: 0.69;
		font-size: 38px;
		font-family: Bitter;
		font-weight: bold;
	}


.contact {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	object-fit: contain;

	address, p {
			font-weight: 600;
			font-style: normal;
		}
}

.form-group {
	margin-bottom: 40px;
	font-weight: bold;
}

textarea {
	resize: none;
	height: 220px;
}

.form-control {
	display: block;
	width: 100%;
	padding: 15px 20px;
	background: transparent;
	border: solid 2px $white;
	transition: border-color .3s linear;

	&:focus {
		outline: none;
		border-color: #72d6ff;
	}
}

	  
 @include media ('>=tablet') {
 	form {
		display: flex;
	 	flex-wrap: wrap;
	 }

	.order-1 {
		order: 1;
		width: 50%;
 	}

	.order-2 {
 		order: 3;
		width: 100%;
	}

	.order-3 {
		order: 2;
		width: 50%;

		address, p {
			padding: 0 0 0 130px;
		}
	}
}













.grid {
	img {
		display: block;
		width: 100%;
	}
}