// пример использования media (breakpoints в верху файла)
body {
	@include media ('>=tablet') {
		background-color:$white;
	}

	@include media ('>=desktop') {
		background-color: $white;
	}
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}


.section-1 {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 250px 0;
	color: $white;
    // margin: 0 0 70px 0;
    // height: 100vh;
    
    &::before {
      content: '';
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
    }

    .text-block {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	// min-height: 400px;
}
}

.section-1 .container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 5;

	&::before {
	content: '';
	min-height: 300px;
	width: 0;
	}
}



h1 {
    position: relative;
	color: white;
	background-color: black;
	opacity: 0.85;
}


.section-2 {
	padding: 80px 0;
	background-color: $light-blue;
	color: $white;

	h3 {
		position: relative;
		margin-bottom: 39px;
		text-align: center;

		&::before {
		content: '';
		width: 45px;
		height: 2px;
		position: absolute;
		bottom: 0;
        background-color: $white;
 }
        @include media ('>=tablet') {
		text-align: left;

		&::before {
		content: '';
		width: 45px;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
        }
		}
}
	.row {
	@include media ('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -40px 0 0;
	}
}
	
	.col {
		text-align: center;

		@include media ('>=tablet') {
		width: 50%;
	    padding: 0 40px 0 0;	
		}
	    
	    @include media ('>=desktop') {
	    width: 25%;
	    }

		img {
		margin-bottom: 24px;
		object-fit: contain;
		}

		p {
		font-size: 12px;
  		font-weight: 600;
  		line-height: 1.5;
		}
	}		
}

.section-3 {
	padding: 80px 0;

	.row {
		margin: 0 -15px;

		@include media ('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.col {
		padding: 0 15px 26px;

		@include media ('>=tablet') {
			width: 50%;
			padding: 10px;
		}

		@include media ('>=desktop') {
			width: 25%;
			padding: 15px;
		}

	.card {
		position: relative;

		img {
		display: block;
		width: 100%;
		object-fit: contain;
		opacity: 0.8;
		filter: grayscale(100%);
		}

		.hover-box {
			background-color: rgba(0,0,0,.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			opacity: 0;
			transition: opasity .3s linear;

			&:hover {
				opacity: 1;
			}
		}
		.plus {
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: $white;
			transform: translate(-50%, -50%);
		}
			&:before {
				width: 30px;
				height: 3px;
			}

			&:after {
				width: 3px;
				height: 30px;
			}
		}
	}
	}	
}	

.section-4 {
	background-color: grey;
	color: $white;
	padding: 80px 0;

	h3 {
		position: relative;
		margin-bottom: 39px;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 45px;
		height: 2px;
		background-color: $white;
	}
}
	a {
		text-decoration: none;
		color: #353f46;
		border: 2px solid #353f46;
		padding: 18px 40px;
		text-transform: uppercase;
		transition: color .3s linear, border-color .3s linear;

		&:hover {
			color: #1f2529;
			border-color: #1f2529;
		}
	}
}

.section-5 {
	background-color: $light-blue;
	color: $white;
	padding: 80px 0;

	h3 {
		position: relative;
		margin-bottom: 39px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 45px;
			height: 2px;
			background-color: $white;
		}

		&:before {
			content: '\e902';
			position: absolute;
			top: 0;
			right: 0;
			color: $white;
		}
	}

	p {
		font-size: 28px;
	}

	a {
		text-decoration: none;
		color: $white;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
	}
}

.section-6 {
	padding: 100px 0 173px 0;
	color: $white;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	h3 {
		position: relative;
		margin-bottom: 39px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 45px;
			height: 2px;
			background-color: $white;
		}
	}
	.row {
		@include media ('>=tablet') {
			display: flex;
			flex-wrap: wrap;
	}

	.col {
		// text-align: center;

		@include media ('>=tablet') {
			 width: 50%;
		}
	}
}
	.footer-content {
		margin: 0 -20px;
		// padding: 30px 0 0 0;

	.social-networks {
		display: flex;
		// justify-contetn: center;

		a {
			color: $white;
			border: 2px solid $white;
			padding: 15px 18px 14px;
			font-size: 30px;
			text-decoration: none;
		}

		li {
			margin: 0 20px 0 0;
		}
	}
}
}

.section-7 {
	color: #515f67;
}










// Обертка для полей формы

.form-group {
	margin-bottom: 15px;
}

// Поля формы

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control {
	@include placeholder {
		color: $red;
	}

	&:focus {
		border-color: $yellow;
	}
}

.grid {
	img {
		display: block;
		width: 100%;
	}
}